<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta charset="utf-8"> 
    
    <title><%= siteName %></title>
    <meta name="description" content="Dit is een lege template" />

    <!-- Site info -->
    <meta name="author" content="Aan Zee">
    <meta name="robots" content="index, follow">

    <!-- Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, width=device-width, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#FF00FF">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <!--[if (lt IE 9)&(!IEMobile)]>
        <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/css/style.css">
    <![endif]-->

    <% if (includeFeature('modernizr')) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } %>
</head>
<body>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

</body>  
</html>
